.xback-board{
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;

    /* if you want to control the z-inex, blur won't work */
    /* background-color: rgba(0, 0, 0, 0.459); */

}

.xback-board::before{
    content: "";
    position: fixed;
    bottom:0;
    right:0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    z-index:-1;
    opacity: 0.4;
    filter: blur(10px);
}

.xsvg-container svg{
    width: 20px;
}